/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.

    CSS heavily inspired by the impress-demo.css from ImpressJS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: square;
    text-align: left;
    padding-top:20px;
    padding-left: 40px;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/**
 * Custom font
 */
@font-face { font-family: "Enriqueta"; src: url('../font/Enriqueta-Regular.ttf'); }
@font-face { font-family: "Enriqueta"; font-weight: bold; src: url('../font/Enriqueta-Bold.ttf'); }

body {
    font-family: 'Enriqueta', georgia, serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(230, 230, 255)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(230, 230, 255), rgb(110, 190, 190));
    background:    -moz-radial-gradient(rgb(230, 230, 255), rgb(110, 190, 190));
    background:     -ms-radial-gradient(rgb(230, 230, 255), rgb(110, 190, 190));
    background:      -o-radial-gradient(rgb(230, 230, 255), rgb(110, 190, 190));
    background:         radial-gradient(rgb(230, 230, 255), rgb(110, 190, 190));
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    color:black;
}

/*********************************************
 * Fallback coucou
 *********************************************/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-supported .fallback-message {
    display: none;
}


/*********************************************
 * Steps and common classes
 *********************************************/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
.impress-enabled .step.active { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/

.center {
    text-align: center;
}

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

.slide .title {
    font-size:70px;
    font-weight:bold;
}

.slide span strong {
    white-space: nowrap;
}


blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    quotes:"\201C""\201D""\2018""\2019";
    padding: 20px;
    overflow: hidden;
    text-indent: 100px;
}
blockquote:before {
    color:#888;
    font-size: 5em;
    position: absolute;
    opacity: 0.3;
    top:-20px;
    left: -30px;
    content:open-quote;
    float: left;
}
blockquote small {
    font-size: 0.4em;
    float: right;
}

.footnotes {
    position: absolute;
    bottom: 0px;
    padding-bottom: 40px;
    font-size: 0.5em;
    text-align: left;
    line-height: 1.3em;
}

h2 {
    font-size:70px;
    font-weight:bold;
    text-align: center;
    margin: 10px 0 80px 0;
}

code {
    border: 1px solid #bebfb9;
    display: inline-block;
    color: #333;
    background: #EEE;
    margin: 15px;
    line-height: normal;
    padding: 20px;
    font-family: Courier, monospace;
    letter-spacing: normal;
    text-align: left;
}

.important {
    text-decoration: underline;
    padding: 20px;
    font-size: 1.2em;
}

/*********************************************
 * Specific Steps
 *********************************************/

#author-bros span.title
{
    margin-top: 0;
}

#cleverage
{
    padding-left:0;
}

#test-screen
{
    margin-left: -150px;
}

#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.7em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

h1 {
    font-size: 150px;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title img {
    vertical-align: middle;
}

/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.1cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; margin: 0!important; }


  .fallback-message { display: none; }
  @page land {size: landscape;}
  .step { page-break-inside: avoid; page-break-after: always; border: none; margin-top: 100px; }
  .step img { max-height: 100%; }

  #htop2 { display: none }
  #title .try { top: 200px }
  #title { padding-top: 250px }
  #test-screen iframe { height: 100%!important; }

  #mysqltuner img, #mysqltunerprimer img, #tuning img {
      height: 450px!important; width: auto!important;
  }
}